apiVersion: v1
kind: Secret
metadata:
  name: tessa-backend-secrets
type: Opaque
stringData:
  POSTGRES_PASSWORD: postgres_password_value
  SESSION_SECRET: session_secret_value
  GITHUB_CLIENT_SECRET: github_client_secret_value
